@inherits LayoutComponentBase

<div class="sidebar" 
     style="background: #005C97;  
            background: -webkit-linear-gradient(to bottom, #363795, #005C97);
            background: linear-gradient(to bottom, #363795, #005C97);
            ">
    <NavMenu />
</div>

<div class="main">

    <div class="content px-4 hero-image">
        @Body
    </div>
</div>


