<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><b>Medical System </b></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">

            <NavLink class="nav-link" href="medic">
                <span class="oi oi-people" aria-hidden="true"></span> Medics
            </NavLink>

            <NavLink class="nav-link" href="patient">
                <span class="oi oi-person" aria-hidden="true"></span> Patients
            </NavLink>

            <NavLink class="nav-link" href="appointment">
                <span class="oi oi-calendar" aria-hidden="true"></span> Appointments
            </NavLink>

            <NavLink class="nav-link" href="prescription">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Prescriptions
            </NavLink>

        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
