@page "/delete-patient/{CurrentID}"
@using MedicalSystems.Data
@inject PatientRepository patientRepository
@inject NavigationManager NavigationManager

<h2>Delete Patient</h2>
<hr/>
<h3>Are you sure want to delete this patient?</h3>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label>Patient Name:</label>
            <label>@objPatient.Name</label>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <label>@objPatient.Email</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-danger" @onclick="@DeletePatientInfo" value="Delete" />
            <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public string CurrentID { get; set; }
    Patient objPatient = new Patient();

    protected override async Task OnInitializedAsync()
    {
        objPatient = await Task.Run(() => patientRepository.GetPatientById(Convert.ToInt32(CurrentID)));
    }

    protected void DeletePatientInfo()
    {
        patientRepository.DeletePatient(objPatient);
        NavigationManager.NavigateTo("patient");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("patient");
    }
}
