@page "/delete-appointment/{CurrentID}"
@using BlazorCRUD.Data
@inject AppointmentRepository appointmentRepository
@inject NavigationManager NavigationManager

<h2>Delete Appointment</h2>
<hr />
<h3>Are you sure want to delete this appointment?</h3>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label>Appointment Id:</label>
            <label>@objAppointment.AppointmentId</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-danger" @onclick="@DeleteAppointmentInfo" value="Delete" />
            <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>

@code { [Parameter]
            public string CurrentID { get; set; }
            Appointment objAppointment = new Appointment();

            protected override async Task OnInitializedAsync()
            {
                objAppointment = await Task.Run(() => appointmentRepository.GetAppointmentById(Convert.ToInt32(CurrentID)));
            }

            protected void DeleteAppointmentInfo()
            {
                appointmentRepository.DeleteAppointment(objAppointment);
                NavigationManager.NavigateTo("appointment");
            }
            void Cancel()
            {
                NavigationManager.NavigateTo("appointment");
            } }
