@page "/add-medic"
@using MedicalSystems.Data
@inject MedicRepository medicRepository
@inject NavigationManager NavigationManager

<h2>Add Medic</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Last Name</label>
                <input form="Name" class="form-control" @bind="@objMedic.Name" />
            </div>
            <div class="form-group">
                <label for="Specialty" class="control-label">Specialty</label>
                <select @bind="@objMedic.Specialty" class="form-control">
                    <option value="">General</option>
                    <option value="Cardiology">Cardiology</option>
                    <option value="Psychology">Psychology</option>
                    <option value="Hematology">Hematology</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateMedic" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code { Medic objMedic = new Medic();

            protected void CreateMedic()
            {
                medicRepository.CreateMedic(objMedic);
                NavigationManager.NavigateTo("medic");
            }
            void Cancel()
            {
                NavigationManager.NavigateTo("medic");
            } }
